# --------------------------------
# Logs
# --------------------------------
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --------------------------------
# Folders
# --------------------------------
node_modules/
dist/
dist-ssr/
build/

# Ignore environment files
.env
.env.local
.env.development
.env.production
.env.test

# If env exists inside frontend & backend
frontend/.env
frontend/.env.*
backend/.env
backend/.env.*

# --------------------------------
# System files
# --------------------------------
.DS_Store
Thumbs.db

# --------------------------------
# Editor files
# --------------------------------
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --------------------------------
# Temporary files
# --------------------------------
*.local
*.cache
*.tmp
